<nav class="nav-extended">
  <div class="nav-wrapper blue">
    <a href="#" class="brand-logo"><img class="brand" src="../assets/alpura.png"  width="225px" /></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="active"><a href="sass.html">Productos</a></li>
    </ul>
  </div>
  <div class="nav-content blue">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a class="active" href="#test1">Listar</a></li>
      <li class="tab"><a  href="#test2">Agregar</a></li>
      <li class="tab"><a href="#test3">Editar</a></li>
    </ul>
  </div>
</nav>
<div class="row">
  <div class="col s1"></div>
  <div class="col s10">
      <table>
          <thead>
            <tr>
                <th>Name</th>
                <th>Item Name</th>
                <th>Item Price</th>
            </tr>
          </thead>
  
          <tbody>
            <tr>
              <td>Alvin</td>
              <td>Eclair</td>
              <td>$0.87</td>
            </tr>
            <tr>
              <td>Alan</td>
              <td>Jellybean</td>
              <td>$3.76</td>
            </tr>
            <tr>
              <td>Jonathan</td>
              <td>Lollipop</td>
              <td>$7.00</td>
            </tr>
          </tbody>
        </table>
  </div>
</div>